*~
*.aux
*.out
*.log
*.blg
*.toc
*.bbl
*.swp
.ipynb_checkpoints
doc/project
*.html
*.inp
*.mtx
*.mexa64
*.mphtxt

meviewer

*.mat
meshdata
result*
build
__pycache__
results
results1
refineresults
data
matlab
meshfigure
paper/*.pdf
code/*.mat
log.txt
fealpyapp
*.egg-info
dependcies
*.npz
*.csv
*.pyc
.fealpy.egg-info
fealpy.egg-info
dist
*.pdf
*.png
*.fig
*.vtk
*.vts
*.so
*.swn
*.swo
*.vtu
*.txt
*.json

*.cpython-38.pyc
.vscode
*.pickle
codetest/*
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
*.eps
.jekyll-cache
__pycache__
*.mp4
*.vtr
*.pkl
.mypy_cache/
*.so
tags
.idea

.DS_Store
.DS_Store
*env
tmp
