*~
*.aux
*.out
*.log
*.blg
*.toc
*.bbl
*.swp
.ipynb_checkpoints
doc/project
*.html
*.inp
*.mexa64

meviewer

*.mat
meshdata
result
build
__pycache__
results
refineresults
data
matlab
meshfigure
paper/*.pdf
code/*.mat
log.txt
fealpyapp
fealpy.egg-info
dependcies
*.npz
*.csv
*.pyc
.fealpy.egg-info
fealpy.egg-info
dist
*.pdf
*.png
*.fig
*.vtk
*.so
*.swn
*.swo
*.vtu


.vscode
